In [1]:
import pandas as pd

In [2]:
!ls

extractor.py                  visits
purchases                     Без названия.ipynb

In [3]:
visits = pd.read_csv('visits', sep='\t')

/Users/polinatumanova/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,device,end_ts,source_id,start_dt,start_ts,uid
0,desktop,2016-11-30T11:04:17Z,2,2016-11-30,2016-11-30T10:53:49Z,3758486201
1,desktop,2016-11-10T23:16:57Z,4,2016-11-10,2016-11-10T23:08:04Z,2933941628
2,desktop,2016-10-19T18:51:56Z,1,2016-10-19,2016-10-19T18:48:16Z,1465872791
3,desktop,2017-01-12T20:51:55Z,9,2017-01-12,2017-01-12T20:50:10Z,2751875787
4,touch,2016-07-23T19:17:19Z,4,2016-07-23,2016-07-23T19:10:57Z,3492372810

In [4]:
purchases = pd.read_csv('purchases', sep='\t')
purchases.head()

                buy_ts         uid revenue
0  23.07.2016 19:13:54  3492372810    1,47
1  06.11.2016 02:48:27  1564753091    1,11
2  31.01.2017 20:32:42  1385616391    16,8
3  11.01.2017 10:52:11  2636761148      11
4  25.11.2016 18:57:09  2945629974    4,89

In [5]:
joined_df = pd.merge(visits, purchases, how='inner', on=['uid', 'uid'])
joined_df.head()

,device,end_ts,source_id,start_dt,start_ts,uid,buy_ts,revenue
0,desktop,2017-02-16T18:59:51Z,5,2017-02-16,2017-02-16T17:48:12Z,2667883540,16.02.2017 18:05:48,"1,22"
1,desktop,2017-02-13T12:36:23Z,5,2017-02-13,2017-02-13T11:56:35Z,2667883540,16.02.2017 18:05:48,"1,22"
2,desktop,2017-02-18T12:43:27Z,1,2017-02-18,2017-02-18T12:37:45Z,2667883540,16.02.2017 18:05:48,"1,22"
3,touch,2016-10-28T16:19:08Z,3,2016-10-28,2016-10-28T16:01:56Z,1521744,28.10.2016 16:07:57,"3,3"
4,desktop,2016-07-05T23:40:06Z,4,2016-07-05,2016-07-05T23:37:01Z,1220989698,19.01.2017 16:09:57,"0,92"

In [6]:
values = joined_df.values

In [7]:
from datetime import datetime

In [8]:
pattern = "%d.%m.%Y %H:%M:%S"

In [9]:
joined_df['buy_ts'] = list(map(lambda time: int(datetime.strptime(time, pattern).timestamp()), joined_df['buy_ts'].values))

In [10]:
joined_df.head()

,device,end_ts,source_id,start_dt,start_ts,uid,buy_ts,revenue
0,desktop,2017-02-16T18:59:51Z,5,2017-02-16,2017-02-16T17:48:12Z,2667883540,1487257548,"1,22"
1,desktop,2017-02-13T12:36:23Z,5,2017-02-13,2017-02-13T11:56:35Z,2667883540,1487257548,"1,22"
2,desktop,2017-02-18T12:43:27Z,1,2017-02-18,2017-02-18T12:37:45Z,2667883540,1487257548,"1,22"
3,touch,2016-10-28T16:19:08Z,3,2016-10-28,2016-10-28T16:01:56Z,1521744,1477660077,"3,3"
4,desktop,2016-07-05T23:40:06Z,4,2016-07-05,2016-07-05T23:37:01Z,1220989698,1484831397,"0,92"

In [15]:
user_lifetime = joined_df.sort_values(['uid', 'buy_ts']).values
user_lifetime = user_lifetime[:, 5:7]

In [20]:
user_lifetime[:5]

array([[157352, 1466676501],
       [157352, 1466676501],
       [256370, 1465830473],
       [308857, 1466662049],
       [352142, 1487346066]], dtype=object)

In [64]:
60 * 60 * 24

86400

In [65]:
current_user_id = -1
start_timestamp = -1
prev_timestamp = -1
lifetimes = {}
for row in user_lifetime:
    uid, timestamp = row
    if uid != current_user_id:
        lifetime = prev_timestamp - start_timestamp
        lifetimes[current_user_id] = lifetime // 86400 if lifetime > 0 else 1
        current_user_id = uid
        start_timestamp = timestamp
    prev_timestamp = timestamp
lifetime = prev_timestamp - start_timestamp
lifetimes[current_user_id] = lifetime // 86400 if lifetime > 0 else 1

In [37]:
joined_df.head()

,device,end_ts,source_id,start_dt,start_ts,uid,buy_ts,revenue
0,desktop,2017-02-16T18:59:51Z,5,2017-02-16,2017-02-16T17:48:12Z,2667883540,1487257548,"1,22"
1,desktop,2017-02-13T12:36:23Z,5,2017-02-13,2017-02-13T11:56:35Z,2667883540,1487257548,"1,22"
2,desktop,2017-02-18T12:43:27Z,1,2017-02-18,2017-02-18T12:37:45Z,2667883540,1487257548,"1,22"
3,touch,2016-10-28T16:19:08Z,3,2016-10-28,2016-10-28T16:01:56Z,1521744,1477660077,"3,3"
4,desktop,2016-07-05T23:40:06Z,4,2016-07-05,2016-07-05T23:37:01Z,1220989698,1484831397,"0,92"

In [47]:
user_revenue = joined_df.sort_values(['uid', 'buy_ts']).values
user_revenue_table = user_revenue[:, 5:8]

In [27]:
6 * 30 * 24 * 60 * 60

15552000

In [56]:
current_user_id = -1
start_timestamp = -1
handled_revenue = 0
user_revenue = {}
for row in user_revenue_table:
    uid, timestamp, revenue = row
    revenue = float(revenue.replace(',', '.'))
    if uid == current_user_id and timestamp - start_timestamp > 15552000:
        continue
    if uid != current_user_id:
        user_revenue[current_user_id] = handled_revenue if handled_revenue > 0 else revenue
        handled_revenue = 0
        current_user_id = uid
    handled_revenue += revenue

In [57]:
list(user_revenue.values())[:10]

[2.83, 2.83, 1.22, 3.67, 1.59, 3.05, 12.83, 1.1, 1.71, 4.64]

In [59]:
user_revenue[current_user_id] = handled_revenue

In [61]:
len(user_revenue), len(lifetimes)

(51637, 51637)

In [66]:
ltv = {}
for uid in user_revenue.keys():
    lifetime = lifetimes[uid]
    revenue = user_revenue[uid]
    ltv[uid] = lifetime * revenue

In [67]:
list(ltv.values())[:10]

[2.83, 2.83, 1.22, 3.67, 1.59, 3.05, 12.83, 1.1, 1.71, 747.04]